@model PcPick.ViewModels.CategoryIndexViewModel

@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Create", "Create")
}

<h2>Categories</h2>

<table class="table">
    @foreach (var item in Model.CategoriesList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "Product", new { id = item.CategoryId }, null)
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.CategoryId }, new { @class = "glyphicon glyphicon-pencil" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.CategoryId }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            }
        </tr>
    }
</table>