@model PcPick.ViewModels.ProductEditViewModel

@{
    ViewBag.Title = "ViewProduct";
}

@*<h2>ViewProduct</h2>*@

<div>
    <h1>@Model.Name</h1>
</div>
<br />
<table>
    <tr>
        <td>
            <img src=@Model.PhotoString style="height:300px" />
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <br />
            <b>Description:</b>
            <br />@Model.Description
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <br />
            <b>Price:</b>&nbsp; @Model.Price
        </td>
    </tr>
</table>